<p id="notice"><%= notice %></p>
<div class="content-box">
  <h1>Events</h1>
  <hr>

  <% @events.each do |event| %>
    <h3><%= event.name %></h3>
    <p><%= event.description %></p>
    <%= link_to 'Show', event %>
    <%= link_to 'Edit', edit_event_path(event) %>
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <br>

  <%= link_to 'New Event', new_event_path %>
</div>