<div class="content-box">
    <h1>New Event</h1>
    <%= simple_form_for @event do |f| %>
        <%= f.input :name %>
        <%= f.input :location_id %>
        <%= f.input :description %>
        <br />
        <%= f.submit 'Create', class: 'btn btn-outline-secondary' %>
    <% end %>

    <%= link_to 'Back', events_path, class: "second-btn btn-outline-secondary btn" %>
</div>