<div class="content-box">
    <h1>New Location</h1>
    <%= simple_form_for @location do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :city %>
        <%= f.input :state %>
        <%= f.input :zip %>
        <%= f.input :area_code %>
        <%= f.input :phone %>
        <%= f.input :hours %>
        <%= f.input :seasonal %>
        <%= f.input :occupancy %>
        <%= f.input :price %>
        <%= f.input :reservation_notice %>
        <%= f.input :owner %>
        <br />
        <%= f.submit 'Create', class: 'btn btn-outline-secondary' %>
    <% end %>

    <%= link_to 'Back', locations_path %>
</div>